{% extends 'base.html.twig' %}

{% block title %}Actualizando categoria{% endblock %}

{% block body %}

    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card card-default">
                    <div class="card-header">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <span id="card_title">Creando categoria</span>
                            <div class="float-right">
                                <a href="/categoria" class="btn btn-warning float-right">
                                    Atrás
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{asset('js/validaciones.js')}}"></script>
    <script>
        $(document).ready(() => {
            $('.select2').select2();
        });
    </script>
{% endblock %}